@import 'variables';
.card {
  background: $lightpurple;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  align-self: stretch;
  margin: 16px;
  width: 302px;
  max-height: 460px;

  .card-image {
    background: $purpleblue;
    max-height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .card-content {
    padding-top: 36px;
    padding-right: 12px;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // height: px;

    .card-title {
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 16px;
    }

    .card-subhead {
      margin: 0;
      color: #666;
      font-size: 14px;
      margin-bottom: 16px;
    }

    .card-summary {
      margin: 0;
      margin-bottom: 10px;
      font-size: 14px;
      overflow-y: auto;
      max-height: 80px;
      scrollbar-width: none;
    }
  }
  .like-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;
    align-self: flex-end;
    .card-button {
      background: $pink;
      color: $purpleblue;
      opacity: 90%;
      border: none;
      padding: 10px 24px;
      border-radius: 4px;
      cursor: pointer;
      align-self: flex-end;
      border-radius: 100px;

      &:hover {
        background-color: $pink;
        opacity: 100%;
        cursor: pointer;
      }
    }
  }
}


.apple{
    background-color: $purpleblue;
    text-align: center;
    height: 100%;
    // color: rgb(171, 164, 164);
    // height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    align-items: center;
    // flex-direction: row;

}
h1 {
  color: rgb(34, 33, 33);
  text-align: center;
//   display: flex;
//   justify-content: center;
}